*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
section#titulo h1{
    font-size: 40px;
    margin: 20px;
}
main#conteudo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 30%;
    margin: auto;
}
main#conteudo #botoes button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #606060;
    box-shadow: 1px 0px 3px black;
    cursor: pointer;
}
footer#rodape p{
    text-align: center;
    margin-top: 20px;
}
footer#rodape p a{
    text-decoration: none;
    color: #606060;
}